    	#firstSentence{
    		position:absolute;
    		left:50px;
    		top:50px;
    		width:250px;
    		height:50px
    	}
    	#secondSentence{
    		position:absolute;
    		left:20px;
    		top:220px;
    		width:100px;
    		height:50px
    	}
    	#firstImage{
    		position:absolute;
    		left:600px;
    		top:600px;
    		width:300px;
    		height:300px
    	}
    	#secondImage{
    		position:absolute;
    		left:400px;
    		top:100px;
    		width:384px;
    		height:216px
    	}
    	#firstButton{
			position:absolute;
    		left:300px;
    		top:700px;
    		width:50px;
    		height:50px
    	}
    	#secondButton{
    		position:absolute;
    		left:700px;
    		top:300px;
    		width:100px;
    		height:20px
    	}